@tailwind base;
@tailwind components;
@tailwind utilities;




.info {
  border-radius: 4px;
  padding: 15px;
  height: 3rem;
  font-size: .8rem; 
  margin-bottom: 10px;
}

.success::before {
  content: '✅ '
}

.success { 
  background-color: rgb(227, 250, 215);
}


.error::before {
  content: '❌ ';
}

.error {
  background-color: rgb(250, 224, 215);  
}


section.auth {
  height: calc( 100vh - var(--header-height));
  border: solid 1px darkgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


div.form {
  height: calc( 100vh - var(--header-height) );
  display: grid;
  place-content: center;
}

div.form h1 {
  text-align: center;
}

form.oauth, form.credentials {
  width: 300px;
  border: solid 1px lightgray;
  background-color:rgb(245, 249, 255);
  /* border-radius: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
}

form.credentials div {
  display: grid;
  gap: 10px;
}

form input {
  width: 100%;
  padding: 10px;
}

form button {
  padding: 10px;
  font-size: inherit;
  background-color: whitesmoke;
  border-radius: 5px;
  border: solid 1px lightgray;
  margin: 1px;
}

form button:hover {
  background-color: white;
  outline: solid 1px gray;
}


.social-button {
  font-size: inherit;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 16px;
  border-radius: 5px;
  border: solid 1px lightgray;
  margin: 1px;
}

.social-button:hover {
  background-color: white;
  outline: solid 1px gray;
}

.social-button:active {
  outline: solid 2px black;
}